<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.ankitsiva.teamcaesium">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".controllers.LoginActivity"
            android:label="@string/action_sign_in_short"
            android:parentActivityName=".controllers.WelcomeActivity" />
        <activity android:name=".controllers.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.MainActivity" />
        <activity
            android:name=".controllers.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".controllers.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.ankitsiva.teamcaesium.controllers.WelcomeActivity" />
        </activity>
        <activity
            android:name=".controllers.ShelterViewActivity"
            android:label="@string/action_view_shelters"
            android:parentActivityName=".controllers.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".controllers.ShelterContentActivity"
            android:label="@string/action_show_content"
            android:parentActivityName=".controllers.ShelterViewActivity" />
        <activity
            android:name=".controllers.ClaimBedActivity"
            android:parentActivityName=".controllers.ShelterContentActivity"
            android:inputType="number">
        </activity>
        <activity
            android:name=".controllers.MapViewActivity"
            android:parentActivityName=".controllers.MainActivity">
        </activity>
    </application>
</manifest>